.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
  }
  
  .navegacao {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navegacao li {
    margin: 0 10px;
  }
  
  .navegacao a {
    color: #fff;
    text-decoration: none;
    text-transform: lowercase;
    font-size: 14px;
    display: flex;
    align-items: center;
  }
  
  .navegacao img {
    margin-right: 5px;
  }
  