@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
.container__pedido {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border: 1px solid #CCCCCC;
    border-radius: 13px;
    position: absolute;
    width: 382px;
    height: 140px;
}

.container__compra-botao{
    display: flex;
    flex-direction: column;
}
.container__paragrafo{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 70%;
    padding-left: 30px;
    padding-top: 5px;
}
h1 {

    font-size: 20px;
    margin: 8px 0 ;
    width: 162px;
    height: 24px;
    
}
p {
    align-items: center;
    font-size: 14px;
    top: 578px;
    color: #4E4A4A;
}
.preco{
    text-align: right;
    padding-right: 50px;
    font-weight: bold;
    color: black;
    font-size: 16px;

}   
