.formulário__dados{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.formulário {
    background: var(--roxo);
    border: 1px solid var(--roxo);
    border-radius: 20px;
    padding: 0.5em;
    margin-top: 0.8rem;
    padding-bottom: 1.2rem;
    min-width: 250px;
    max-width: 340px;
}
.formulário__titulo {
    text-align: center;
    color: var(--branco);
    font-family: var(--fonte-principal);
    margin: 2.5em 0;
}


.botao__finalizar{
    color: var(--branco);
    font-weight: bold;
    text-align: center;
    border: 1px solid var(--verde);
    background-color: var(--verde);
    border-radius: 20px;
    text-decoration: none;
    margin-top: 0.8em;
    padding: 0.8em;
    width: 40%;
    text-transform: uppercase;
    margin-bottom: 1.1rem;
    
}   


.item {
    display: block;
    margin: 0.5em;
    
    color: var(--branco);
}

.btn{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 35px;
    

}

.btn a{
    padding: 15px 25px;

}

.formulário__resposta {
    width: 87%;
    outline: none;
    border-radius: 11px;
    height: 35px;
    background-color: var(--roxo-claro);
    border: none;
    margin: 0.5em 0;
    color: white;
    padding: 4px 10px;
    font-weight: normal;
    font-size: 14px;

}

.formulário__item-flex{
    display: flex;
    column-gap: 10px;
    
}


