* {
    margin: 0;
    padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
}

header {
  background-image: url('https://media.discordapp.net/attachments/1073655592876527627/1073663075070267492/capa.png');
  background-size: 100%;
  background-repeat: no-repeat;
  display: block;
  height: 200px;
  margin: 0;
}

.container__imagem {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container__imagem-logo {
  align-self: center;
  height: 14rem;
  margin-top: 70px;
  width: 13rem;
}

.container__textos {
  display: flex;
  flex-direction: column;
}

.container__textos-titulo {
  font-size: 26px;
  font-weight: 700;
  margin-top: 0.8px;
  text-align: center;
}

.container__textos-endereco,
.container__textos-horario {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

.container__redes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.instagram {
  height: 56px;
  width: 56px;
}

.whatsapp {
  height: 60px;
  width: 60px;
}

.container__botao {
  display: flex;
}

.botao__pedido {
  align-items: center;
  background: #9B2DC1;
  border-radius: 1.6rem;
  border-color: transparent;
  color: #ffffffea;
  display: flex;
  font-size: 20px;
  margin-top: 15rem;
  padding: 8px;
  width: 16rem;
  justify-content: center;
  box-shadow: 3px 5px 7px #888888;
}

.botao__pedido div{
  margin-top: 5px;
  padding-left: 5px;
}

.navegacao {
    display: flex;
    height: 104px;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    
}

.container__compra-botao{
  display: flex;
  justify-content: center;
}

.container__compra{
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
  bottom: 0px;
}

.compra-botao {
  display: flex;
  align-items: center;
  align-content: space-around;
  background: #1BE017;
  border-radius: 1.6rem;
  border-color: transparent;
  color: #ffffffea;
  font-size: 20px;
  margin-bottom: 50px;
  padding: 10px;
  width: 16rem;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  box-shadow: 3px 5px 7px #888888;
}

img {
    width: 34px;
    height: 36px;
    top: 849px;
    left: 54px;
}

h3 {
    color: #ffffff;
    font-family: 'Inter';
    width: 92px;
    line-height: 17px;
    text-align: center;
    font-family:'Inter', sans-serif;
    font-weight: 400;
}












